body {
    background-color: #e0dcdc;
}

h1 {
    color: #489414;
    font-size: 100px;
}

h2 {
    color: #489414;
    font-size: 80px;
}

p {
    padding: 5px;
    text-align: left;
    font-size: 25px;
}

.boxwhite {
    border-radius: 25px;
    width: 100%;
    padding: 5px, 5px;
    background-color: #ffffff;
	text-align: center;
}
