/* Changes background colour for the entire page */
body {
    background-color: #de78c8;
}

/* Centers a container on the screen. */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Pushes a container to the right of the screen. */
.right {
    display: block;
    margin-left: auto;
    width: 5%;
}

/* Pushes a container to the left of the screen. */
.left {
    display: block;
    margin-right: auto;
    width: 5%;
}

/* All code relating to the navigation bar was pulled from an old college assignment. */
/* Currently thanking my past self for deciding to include this. */

/* Creates a bar which sits invisible against the background. */
.topnav {
    overflow: hidden;
    background-color: #de78c8;
}

/* Sets out text styling and spacing. */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

/* Darkens a specific topnav cell when the user hovers over it. */
.topnav a:hover {
    background-color: #a90e87;
    color: white;
}

/* Small amount of image padding. */
.block {
    padding: 1%;
}

/* Sets out text styling for image descriptions. */
.text {
    float: right;
    font-size: 25px;
    color: white;
    background-color: #a90e87;
    padding: 14px 16px;
    text-decoration: none;
}